<div class="container-fluid">
  <div class="container xd-container">
    <h2>Edit muscle</h2>
    <form id="specie" class="form-horizontal" (ngSubmit)="onSubmit(muscleForm.value)" #muscleForm="ngForm">
      <div class="form-group" hidden="true">
        <input type="text" hidden="true" class="form-control" id="id" [(ngModel)]="muscle.id" name="id"/>
      </div>
      <div class="form-group has-feedback"  [class.has-success]="name.dirty && name.valid" [class.has-error]="name.dirty &&  !name.valid">
        <div class="form-group ">
          <label class="col-sm-1 control-label">Nom</label>
          <div class="col-sm-6">
            <input id="name" name="name" class="form-control" required type="text" [(ngModel)]="muscle.name" #name="ngModel"/>
            <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="name.valid" [class.glyphicon-remove]="!name.valid" aria-hidden="true"></span>
            <span class="help-block" *ngIf="name.dirty && name.hasError('required')">Le nom est requis</span>
          </div>
          <button class="btn btn-default" type="submit">Update</button>
          <button class="btn btn-default" (click)="onBack()">retour</button>
        </div>
      </div>
    </form>
  </div>
</div>
