<div class="container-fluid">
  <div class="container xd-container">

    <h2>Muscles</h2>
    <table id="muscles" class="table table-striped">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Action</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let muscle of muscles; let element_id=index">
          <td>
            <input [id]="element_id" [readonly]="true"type="text" class="form-control" [(ngModel)]="muscle.name" name="muscle_name" />
          </td>
          <td>
            <button class="btn btn-default" (click)="showEditMuscleComponent(muscle)">Edit muscle</button>
            <button class="btn btn-default" (click)="deleteMuscle(muscle)">Supprimer muscle</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="isInsert">
      <app-muscle-add (newSpecie)="onNewMuscle($event)">...</app-muscle-add>
    </div>
    <div>
      <button class="btn btn-default" (click)="goToHome()">Accueil</button>
      <button class="btn btn-default" (click)="showAddMuscleComponent()">Add Muscle</button>
    </div>
  </div>
</div>
